compile = """
mvn clean
bash startup.sh
mvn install
"""

run = "mvn compile exec:java"

[packager]
language = "java"

[packager.features]
packageSearch = true

[languages.java]
pattern = "**/*.java"

[unitTest]
language = "java"

[nix]
channel = "stable-21_11"
