compile = """
bash startup.sh
mvn -f /home/runner/Sample-CRUD-Backend/pom.xml clean install
"""

run = "mvn compile exec:java"

entrypoint = "DatabaseBackend.java"
hidden = ["**/*.class"]

[packager]
language = "java"

[packager.features]
packageSearch = true

[languages.java]
pattern = "**/*.java"

[unitTest]
language = "java"

[nix]
channel="stable-21_11"
